@import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import 'boxicons/css/boxicons.min.css';

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  @apply bg-[#E0E8F6] text-[#484E53] dark:bg-[#1A1A1A] dark:text-[#E1E1E1];
}
@theme {
  --font-oleo: "Oleo Script", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --lightbg: #E0E8F6;
  --color-darkbg: #1A1A1A;
  --color-lighttext: #484E53;
  --color-darktext: #ffffff;
}
html {
  scroll-behavior: smooth;
}
